@keyframes fadeIn {
  from{
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes fadeOut {
  from{
    opacity:1;
  }
  to {
    opacity:0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 44;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes retract {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 20;
  }
}

.fadeIn
{
  animation: fadeIn 0.4s forwards;
}
.fadeOut{
  animation: fadeOut 0.4s forwards;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
  background-color: #eee;
}

.beta-badge
{
  font-size:11px;
  vertical-align: middle;
}

.main-wrapper {
  height: 100vh;
  background-color: #eee;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding: 0!important;
  height: 7%;
  max-height: 7%;
}
.header-wrapper h3 {
  padding-right:10px;
  text-align: center;
  margin: 0;
}

.task-list-wrapper {
  display: flex;
  justify-content: center;
  height: 93%;
  max-height: 93%;
  transition: height 0.5s;
}

.task-list {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.task-list-placeholder-empty {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.task-list-placeholder-empty img {
  width: 45%;
  height: auto;
  max-width: 624px;
  max-height: 512px;
}
.task-list-placeholder-empty h2 {
  margin-top: 25px;
  font-weight: bold;
}
.task-list-placeholder-done {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.4s forwards;
}
.task-list-placeholder-done img {
  width: 30%;
  height: auto;
  max-width: 512px;
  max-height: 512px;
}
.task-list-placeholder-done h2 {
  margin-top: 25px;
  font-weight: bold;
}
.task {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 10px 20px 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.67);
  opacity:1;
  position:relative;
}

.task-info-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.done-task-info-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task-info-title-wrapper {
  display: flex;
  align-items: center;
}

.task-info-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 700;
  position:relative;
  transition: color 0.4s;
  background-color: rgba(0,0,0,0)!important;
}

.done
{
 color: gray;
}
.donenoanimate
{
  color: gray;
  background-color: gray;
}

.task-info-title::after, .task-info-desc::after, .deadline-badge::after{

  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0%;
  left: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.25s ease;
}

@keyframes width0to100
{
  from{
    width:0%;
    
  }
  to
  {
    width:100%;
  }
}

@keyframes width0to100-12px
{
  from{
    width:0%;
  }
  to
  {
    width: calc(100% - 12px);
  }
}
.task-info-title.done::after, .task-info-desc.done::after{
  animation: width0to100 0.5s  forwards;
}

.deadline-badge.done::after
{
  left:6px;
  animation: width0to100-12px 0.5s forwards;
}

.task-info-title.donenoanimate::after, .task-info-desc.donenoanimate::after{
  width:100%;
}

.deadline-badge.donenoanimate::after
{
  left:6px;
  width: calc(100% - 12px);
}

.task-info-desc-wrapper
{
  display:flex;
  align-items: center;
}
.task-info-desc {
  margin: 0.25em 0 0 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  position:relative;
  transition: color 0.4s;
  background-color: rgba(0,0,0,0)!important;
}

.deadline-badge {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  line-height: 1;
  font-size: 11px;
  padding: 4px 6px 4px 6px;
  margin: 0 5px 0 0px;
  /* background-color: cornflowerblue; */
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  border-radius: 50rem;
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  position:relative;
  transition: color 0.4s;
  transition: background-color 0.4s;
}

.deadline-badge-expired {
  background-image: none;
  background-color: #dc3545;
}

.deadline-badge-done {
  background-image: none;
  background-color: gray;
  
}

.task-done-btn-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
}

.task-done-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width:36px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.task-done-btn .material-symbols-outlined {
  font-size: 36px;
  font-weight: 300;
  border-radius: 100%;
}

.task-done-btn .material-symbols-outlined-fade-in {
  font-size: 36px;
  font-weight: 300;
  border-radius: 100%;
  animation: fadeIn 0.2s ease-in;
}

.task-done-btn:hover .material-symbols-outlined, .task-done-btn:hover svg {
background-color: #eee;
}

.task-done-btn:focus .material-symbols-outlined, .task-done-btn:focus svg {
  background-color: #ddd;
}

.add-new-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 47.5px;
  margin: 0 auto 0 auto;
  padding: 0px;
  border-radius: 100%;
  /* background-color: cornflowerblue; */
  background-image: linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%);
  color:white;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.67);
  border: none;
  opacity: 1;
  transition: opacity 0.4s;
}
.add-new-task-btn .material-symbols-outlined {
  font-size: 40px;
  font-weight: 400;
}
.add-new-task-btn:hover
{
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.67) !important;
  background-image: linear-gradient(135deg, rgb(92, 116, 224) 0%, rgb(108, 65, 152) 100%);
}

.add-new-task-btn:active
{
  background-image: linear-gradient(135deg, rgb(82, 106, 214) 0%, rgb(98, 55, 142) 100%);
}

.hide-add-new-task-popup-btn
{
  display:flex;
  opacity:0;
  transition: opacity 0.5s;
  align-items: center;
  justify-content: center;
  width:48px;
  height:24px;
  outline:none;
  border:none;
  padding:0;
  /* background-color: cornflowerblue; */
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  margin:-40px auto 8px auto;
  border-radius:100px;
  color:white;
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.67);
}

.hide-add-new-task-popup-btn:hover
{
  /* background-color: rgb(95, 144, 232); */
  background-image: linear-gradient(135deg, rgb(92, 116, 224) 0%, rgb(108, 65, 152) 100%);
}

.hide-add-new-task-popup-btn:active
{
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.67) !important;
  background-image: linear-gradient(135deg, rgb(82, 106, 214) 0%, rgb(98, 55, 142) 100%);
}

.hide-add-new-task-popup-btn span{

  display: inline-flex;
  align-items: center;
}

.add-new-task-popup-wrapper
{
  height: 350px;
  max-height: 350px;
}
.add-new-task-popup {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateY(400px); 
  margin: 0 auto 0 auto;
  padding: 10px 10% 35px 10%;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
  border-radius:10px 10px 0 0;
  border-top:1px solid #ddd;
  box-shadow: 0px -4px 7px -8px rgba(0, 0, 0, 0.67);
}

.add-new-task-popup form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.add-new-task-popup input {
  height: 40px;
  margin: 3px 0 1px 0;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.67);
}

.add-new-task-popup input:focus {
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.67);
  border-color:rgb(122, 146, 254);
}

.add-new-task-popup textarea {
  height: 88px;
  margin: 3px 0 1px 0;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  padding: 5px 10px 5px 10px;
  resize: none;
  box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.67);
}

.add-new-task-popup textarea:focus {
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.67);
  border-color:rgb(122, 146, 254);
}

.is-invalid:focus {
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.67) !important;
}

.add-new-task-popup button[type=submit] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
  margin: 16px auto 1px auto;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color:white;
  border: none;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.67);
}

.add-new-task-popup button[type=submit]:hover
{
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.67) !important;
  background-image: linear-gradient(135deg, rgb(92, 116, 224) 0%, rgb(108, 65, 152) 100%);
}

.add-new-task-popup button[type=submit]:active
{
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.67) !important;
  background-image: linear-gradient(135deg, rgb(82, 106, 214) 0%, rgb(98, 55, 142) 100%);
}

.input-error-info {
  display: flex;
  height: 18px;
  font-size: 12px;
  padding: 0 5px 0 5px;
  color: #dc3545;
}

.credits
{
  position:fixed;
  bottom:0;
  font-size:11px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width:100%;
}

.credits a
{
  background-image: linear-gradient(135deg, rgb(62, 86, 194) 0%, rgb(78, 35, 122) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.credits a:hover
{
  background-image: linear-gradient(135deg, rgb(42, 66, 174) 0%, rgb(58, 15, 102) 100%);
}

.credits a:active
{
  background-image: linear-gradient(135deg, rgb(32, 56, 164) 0%, rgb(48, 5, 92) 100%);
}


svg {
  display: block;
  margin: 0 auto;
  border-radius:100%;
}

.tick {
  stroke-dasharray: 44;
  stroke-dashoffset: 44;
}

.open .retract {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: retract 0.4s ease-in-out forwards;
}

.open .tick {
  animation: dash 0.4s ease-in-out forwards;
}

.show .retract {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
}

.show .tick {
  stroke-dashoffset: 0;
}

/*# sourceMappingURL=style.css.map */
