* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif;
  font-family: 'Nunito', sans-serif;
}

header{
  background-color: #ddd;
  
  padding: 0!important;
}
h3{
  padding-right:10px;
}

.beta-badge
{
  font-size:11px;
  vertical-align: middle;
}
.main-wrapper {
  height: 100vh;
  background-color: #eee;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  max-height: 7%;
}
.header-wrapper h3 {
  text-align: center;
  margin: 0;
}

.task-list-wrapper {
  display: flex;
  justify-content: center;
  height: 90%;
  max-height: 90%;
  transition: height 0.4s;
}

.task-list {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.task-list-placeholder-empty {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.task-list-placeholder-empty img {
  width: 45%;
  height: auto;
  max-width: 624px;
  max-height: 512px;
}
.task-list-placeholder-empty h2 {
  margin-top: 25px;
  font-weight: bold;
}
.task-list-placeholder-done {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:0.4s;
}
.task-list-placeholder-done img {
  width: 30%;
  height: auto;
  max-width: 512px;
  max-height: 512px;
}
.task-list-placeholder-done h2 {
  margin-top: 25px;
  font-weight: bold;
}
.task {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 10px 20px 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.67);
  opacity:1;
  transition: 0.4s;
}

.task-info-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 1px solid black;*/
}
.done-task-info-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 1px solid black;*/
}

.task-info-tittle-wrapper {
  display: flex;
  align-items: center;
}

.task-info-tittle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 700;
}

.task-info-desc {
  margin: 0.25em 0 0 0;
  font-size: 14px;
  text-overflow: ellipsis;
}

.deadline-badge {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  line-height: 1;
  font-size: 11px;
  padding: 4px 6px 4px 6px;
  margin: 0 5px 0 0px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 50rem;
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

.deadline-badge-expired {
  background-color: #dc3545;
}

.deadline-badge-done {
  background-color: gray;
}
.task-done-btn-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 10%;
}



.task-done-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.task-done-btn .material-symbols-outlined {
  font-size: 36px;
  font-weight: 300;
  border-radius: 100%;
}

.task-done-btn:hover .material-symbols-outlined {
background-color: #eee;
}

.task-done-btn:focus .material-symbols-outlined {
  background-color: #ddd;
  }
  

.add-new-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 47.5px;
  margin: 0 auto 0 auto;
  padding: 0px;
  border-radius: 100%;
  background-color: cornflowerblue;
  color:white;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.67);
  
  border: none;
  opacity: 1;
  transition: opacity 0.4s;
}
.add-new-task-btn .material-symbols-outlined {
  font-size: 40px;
  font-weight: 400;
}
.add-new-task-btn:hover
{
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.67) !important;
  background-color: rgb(95, 144, 232);
}

.add-new-task-btn:active
{
  background-color: rgb(90, 139, 227);
}
.hideNewTaskPopupBtn
{
  display:flex;
  align-items: center;
  justify-content: center;
  width:48px;
  height:24px;
  outline:none;
  border:none;
  padding:0;
  background-color: cornflowerblue;
  margin:-40px auto 8px auto;
  border-radius:100px;
  color:white;
}
.hideNewTaskPopupBtn span{

  display: inline-flex;
  align-items: center;
}
.add-new-task-popup {
  display: flex;
  transition: transform 0.4s;
  transform: translateY(350px);
  margin: 0 auto 0 auto;
  height: 350px;
  max-height: 350px;
  padding: 10px 10% 35px 10%;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
  border-radius:10px 10px 0 0;
  border-top:1px solid #ddd;
  box-shadow: 0px -4px 7px -8px rgba(0, 0, 0, 0.67);
}

.add-new-task-popup form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.add-new-task-popup input {
  height: 40px;
  margin: 3px 0 1px 0;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.67);
}

.add-new-task-popup input:focus {
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.67);
}

.add-new-task-popup textarea {
  height: 88px;
  margin: 3px 0 1px 0;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  padding: 5px 10px 5px 10px;
  resize: none;
  box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.67);
}

.add-new-task-popup textarea:focus {
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.67);
}

.is-invalid:focus {
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.67) !important;
}

.add-new-task-popup button[type=submit] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
  margin: 16px auto 1px auto;
  background-color: rgb(100, 149, 237);
  color:white;
  border: none;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.67);
}

.add-new-task-popup button[type=submit]:hover
{
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.67) !important;
  background-color: rgb(95, 144, 232);
}

.add-new-task-popup button[type=submit]:active
{
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.67) !important;
  background-color: rgb(90, 139, 227);
}



.inputErrorInfo {
  display: flex;
  height: 18px;
  font-size: 12px;
  padding: 0 5px 0 5px;
  color: #dc3545;
}

footer {
  height: 5%;
  max-height: 5%;
}/*# sourceMappingURL=style.css.map */